body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.Ats-logo-box {
  z-index: 1;
}

.Ats-logo {
  height: 80px;
  filter: drop-shadow(2px 6px 4px #696969);
}

.App-header {
  height: 160px;
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 500;
  color: black;
}

.Header-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

@media only screen and (min-width: 781px) {
  .App-logo {
    height: 120px;
  }

  .Media-wrapper {
    overflow: scroll;
    position: fixed;
  }
}

@media only screen and (max-width: 780px) {
  .App-header {
    height: 450px;
  }

  .Header-box {
    padding: 0px;
    flex-direction: column;
  }

  .App-logo {
    height: 300px;
  }
}

@media only screen and (min-width: 781px) and (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: Logo-pulse-small infinite 3s ease-in-out;
  }
}

@media only screen and (max-width: 781px) and (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: Logo-pulse infinite 3s ease-in-out;
  }
}

@keyframes Logo-pulse {
  from {
    transform: scale(0.9);
    filter: drop-shadow(2px 6px 4px #696969);
    -webkit-filter: drop-shadow(2px 6px 4px #696969);
    -moz-filter: drop-shadow(2px 6px 4px #696969);
  }
  50% {
    transform: scale(1);
    filter: drop-shadow(2px 6px 8px #696969);
    -webkit-filter: drop-shadow(2px 6px 8px #696969);
    -moz-filter: drop-shadow(2px 6px 8px #696969);
  }
  to {
    transform: scale(0.9);
    filter: drop-shadow(2px 6px 4px #696969);
    -webkit-filter: drop-shadow(2px 6px 4px #696969);
    -moz-filter: drop-shadow(2px 6px 4px #696969);
  }
}

@keyframes Logo-pulse-small {
  from {
    transform: scale(0.9);
    filter: drop-shadow(2px 6px 2.5px #696969);
    -webkit-filter: drop-shadow(2px 6px 2.5px #696969);
    -moz-filter: drop-shadow(2px 6px 2.5px #696969);
  }
  50% {
    transform: scale(1);
    filter: drop-shadow(2px 6px 4px #696969);
    -webkit-filter: drop-shadow(2px 6px 4px #696969);
    -moz-filter: drop-shadow(2px 6px 4px #696969);
  }
  to {
    transform: scale(0.9);
    filter: drop-shadow(2px 6px 2.5px #696969);
    -webkit-filter: drop-shadow(2px 6px 2.5px #696969);
    -moz-filter: drop-shadow(2px 6px 2.5px #696969);
  }
}

.Media-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.Media-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
}

.Video {
  width: 99.5%;
  margin: auto;
  display: inline-block;
}
